body{
    margin: 0;
    font-family: PT-Roboto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.logo{

}

.img-logo{
    max-width: 100px;
}

.city{

}

.phone{

}

.img-bigboard{
    max-width: 1200px;
    width: 100%;
    height: 300px;
}

.bigbords{

}

.bigboards1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-services{
    display: flex;
    justify-content: center;
}

.our-services1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
    max-width: 1200px;
}

.services{
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f7f8f9;
    cursor: pointer;
    padding: 20px;
}

.name-services{
    color: black;
    font-size: 24px;
    font-weight: 800;
}

.icon-service{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

