body{
    margin: 0;
    font-family: PT-Roboto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.logo{

}

.img-logo{
    max-width: 100px;
}

.city{
    color: black;
    font-size: 24px;
    font-weight: 800;
}

.phone{
    color: black;
    font-size: 24px;
    font-weight: 800;
}

.img-bigboard{
    max-width: 1200px;
    width: 100%;
    height: 300px;
}

.bigbords{

}

.bigboards1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-services{
    display: flex;
    justify-content: center;
}

.our-services1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
    max-width: 1200px;
}

.services{
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f7f8f9;
    cursor: pointer;
    padding: 20px;
}

.name-services{
    color: black;
    font-size: 24px;
    font-weight: 800;
}

.icon-service{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.name-of-services{
    background: url(images/break.png) center;
}

.box-name-of-services{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-services-1{
    max-width: 169px;
    height: 113px;
    width: 100%;
    background: url(images/img-orange.png) center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00a800;
    font-size: 24px;
    font-weight: 800;
}

.container-name-of-service{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.name-services-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ff9b28;
    border-radius: 10px;
}

.name-services-3{
    color: #00a800;
    font-size: 24px;
    font-weight: 800;
}

.img-name-of-service{
    max-width: 400px;
    width: 100%;
}